# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Poetry-related files
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
cmd.txt